<h1>Student Register:</h1>

<div class="main">
<div class="box1">
<form [formGroup]="this.studentService.form">
<table border="2">
<tr>
<td>Student Name  </td>
<td>
 <input
    placeholder="Student Name"
    formControlName="name"
    type="text"
    class="input-field col s12"
  />
</td>
  </tr>


<tr>
<td>Student age  </td>
<td>
  <input
    placeholder="Student age"
    formControlName="age"
    type="text"
    class="input-field col s12"
  />
  </td>
  </tr>

<tr>
<td>Student Address  </td>
<td>
  <input
    placeholder="Student address"
    formControlName="address"
    type="text"
    class="input-field col s12"
  />

  </td>
  </tr>

<tr>
<td>

  <button style="margin:auto;display:block" (click)="onSubmit()">
    Submit
  </button><button (click)="child.update1()">
    Update
  </button>
  </td>
  </tr>
  </table>
</form>
</div>
<div class="box2">
<app-student-list #child></app-student-list>
</div>
</div>