<h1>Student Register:</h1>

<div class="main">
<div class="box1">
<form [formGroup]="this.studentService.form">
<table border="2">
<tr>
<td>Student Name  </td>
<td>
 <input
    placeholder="Student Name"
    formControlName="name"
    type="text"
    class="input-field col s12"
  />
</td>
  </tr>


<tr>
<td>Student age  </td>
<td>
  <input
    placeholder="Student age"
    formControlName="age"
    type="text"
    class="input-field col s12"
  />
  </td>
  </tr>

<tr>
<td>Student Address  </td>
<td>
  <input
    placeholder="Student address"
    formControlName="address"
    type="text"
    class="input-field col s12"
  />

  </td>
  </tr>

<tr>
<td>

  <button style="margin:auto;display:block" (click)="onSubmit()">
    Submit
  </button><button>
    Update
  </button>
  </td>
  </tr>
  </table>
</form>
</div>



<div class="box2">
<table border="2">
  <thead>
    <tr>
      <th>Id</th>
      <th>Student Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>update</th>
      <th>delete</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let list of students">
    <td>
        {{ list.id }}
      </td>
      <td>
        {{ list.Name }}
      </td>
      <td>{{ list.Age }}</td>
      <td>
        {{ list.Address }}
      </td>
      <td >
      <button (click)="openUpdaterecorde(list.payload.doc.data())">
       update
       </button>
      </td>
      <td>
      <button (click)="deletedetail(list.id)">
        delete</button>
      </td>
      
    </tr>
  </tbody>


  </table>

</div>
</div>